*.DS_Store
/.sass-cache/*
/app/client/js/libs
/app/client/sass/libs
/bower_components/*
/config/*.conf
/config/*.conf.json
/node_modules/*
/public/css/*
/public/fonts/*
/public/js/*
/**/npm-debug.log
public/build.txt
public/sass
public/.eslintrc
