<span class='active-mark' data-state='<% print(state)%>'>
    <i class='fa fa-circle'></i>
</span>
<span><%= message %></span>
<a class='action' href='#' data-action='remove'></a>
<a class='action' href='#' data-action='edit'></a>
<div class='metadata'>
    <div class='start-date-label'>
        Début: <%= startDate %>
    </div>
    <div class='end-date-label'>
        Fin: <%= endDate %>
    </div>
    <div class='published-label'>
        Publiée: <% print(published ? 'oui':'non') %>
    </div>
</div>
