<% if (hasError) { %>
<div class="error">
    <%= errorMessage %>
</div>
<% } %>

<div class="row">
    <div class="text-right small-2 columns">
            <label for="name" data-field-valid="<%= fieldIsValid('name') %>">
            Nom
            <span class="tooltip"><%= fieldError('name') %></span>
        </label>
    </div>
    <div class="small-10 columns">
        <div class="input">
            <input id="name" type="text" placeholder="Nom du produit...">
        </div>
    </div>
</div>

<div class="row">
    <div class="text-right small-2 columns">
        <label for="description" data-field-valid="<%= fieldIsValid('description') %>">
            Description
            <span class="tooltip"><%= fieldError('description') %></span>
        </label>
    </div>
    <div class="small-10 columns">
        <div class="input">
            <textarea id="description" rows="8" placeholder="Description du produit..."></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="text-right small-2 columns">
        <label for="price" data-field-valid="<%= fieldIsValid('price') %>">
            Prix
            <span class="tooltip"><%= fieldError('price') %></span>
        </label>
    </div>
    <div class="small-10 columns">
        <div class="input">
            <input id="price" type="number" placeholder="Prix du produit...">
        </div>
    </div>
</div>

<div class="row">
    <div class="text-right small-2 columns">
        <label for="tags" data-field-valid="<%= fieldIsValid('tags') %>">
            Tags
            <span class="tooltip"><%= fieldError('tags') %></span>
        </label>
    </div>
    <div class="small-10 columns">
        <div class="input">
            <input id="tags" type="text" placeholder="Liste de tags séparés par une virgule...">
        </div>
    </div>
</div>

<div class="row">
    <div class="text-right small-2 columns">
        <label for="available" data-field-valid="<%= fieldIsValid('available') %>">
            Disponible
            <span class="tooltip"><%= fieldError('available') %></span>
        </label>
    </div>
    <div class="small-10 columns">
        <div class="switch round">
            <input id="available" type="checkbox">
            <label for="available"></label>
        </div>
    </div>
</div>

<div class="row">
    <div class="text-right small-2 columns">
        <label for="published" data-field-valid="<%= fieldIsValid('published') %>">
            Publié
            <span class="tooltip"><%= fieldError('published') %></span>
        </label>
    </div>
    <div class="small-10 columns">
        <div class="switch round">
            <input id="published" type="checkbox">
            <label for="published"></label>
        </div>
    </div>
</div>

<div class="row">
    <div class="text-right small-2 columns">
        <label for="published" data-field-valid="<%= fieldIsValid('pictures') %>">
            Images
            <span class="tooltip"><%= fieldError('pictures') %></span>
        </label>
    </div>
    <div class="small-10 columns">
        <div id="pictures"></div>
    </div>
</div>
