@import "../../thumbnails";
@import "../../lightbox";
@import "foundation/components/button-groups";
@import "foundation/components/reveal";

// Gallery widget /////////////////////////////////////////////////////////////
.action-bar {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    overflow: auto;
}

.action-bar a {
    color: lightgray;
    float: right;
    text-decoration: none;
    margin: 2px;
    display: block;
}

.action-bar a:hover {
    color: red;
}

.achievement-editor {
    border-bottom: solid 1px lightgray;
    margin-bottom: 8px;
    .thumbnails {
        min-height: 128px;
        width: 100%;
    }
    #add-pictures {
        @extend .button;
        @extend .expand;
        &:after {
            content: 'Ajouter des images';
        }
    }
    .unpublish-button {
        @extend .button;
        @extend .alert;
        &:after {
            content: 'Ne plus publier la réalisation';
        }
    }
    .publish-button {
        @extend .button;
        @extend .success;
        &:after {
            content: 'Publier la réalisation';
        }
    }
    .unpublish-button, .publish-button {
        @extend .expand;
    }
}

#filters {
    padding-left: 8px;
    ul {
        list-style-type: none;
        display: none;
    }
    li label {
        font-size: small;
    }
}
