@import "../settings";
@import "foundation/components/block-grid";

#achievements {
    li {
        figure {
            display: none;
            border: 4px solid white;
            margin: 0;
            padding: 0;
            position: relative;
            overflow: hidden;
            img {
                position: absolute;
                max-width: none;
                max-height: none;
            }
        }
    }
}
