@import "../settings";

.contact {
    text-align: center;
    margin: $contact-margin;
    .contact-icon {
        background-color: $contact-icon-bg-color;
        border-radius: 90px;
        color: $contact-icon-fg-color;
        font-family: FontAwesome;
        font-size: $contact-icon-font-size;
        line-height: $contact-icon-size;
        height: $contact-icon-size;
        width: $contact-icon-size;
        margin: 0 auto;
        margin-bottom: $contact-icon-margin;
        &.phone:before {
            content: "\f10b";
        }
        &.address:before {
            content: "\f041";
        }
        &.e-mail:before {
            content: "\f003";
        }
        @media #{$medium-up} {
            font-size: $contact-icon-medium-up-font-size;
            line-height: $contact-icon-medium-up-size;
            height: $contact-icon-medium-up-size;
            width: $contact-icon-medium-up-size;
            margin-bottom: $contact-icon-medium-up-margin;
        }
    }
    @media #{$medium-up} {
        margin: $contact-medium-up-margin;
    }
}
