@import "../settings";

.contact {
    text-align: center;
    font-size: smaller;
    margin: $contact-margin;

    .contact-icon {
        &:before {
            @include circle-button($bg-color: $black, $fg-color: $white, $radius: $contact-icon-size);
            font-family: FontAwesome;
            font-size: $contact-icon-font-size;
            @media #{$medium-up} {
                display: block;
                margin: 0 auto;
            }
        }
        &.phone:before {
            content: "\f10b";
        }
        &.address:before {
            content: "\f041";
        }
        &.e-mail:before {
            content: "\f003";
        }


    }
    @media #{$medium-up} {
        margin: $contact-medium-up-margin;
    }
}
