//- pages/mbac/front.jade
//- ====================
//- - author: Neal.Rame. <contact@nealrame.com>
//- -   date: Thu May 14 17:21:47 CEST 2015
extends /layout
block content
    section.wrapper
        article
            header
                h1: | Concept
            section
                div.row(data-equalizer data-equalizer-mq='large-up')
                    div.small-12.medium-12.large-8.columns
                        div.responsive-text-wrapper(data-equalizer-watch)
                            p
                                | mon Bar à Couture vous accompagne dans vos 
                                | projets de couture en tout genre : déco,
                                | vêtement, accessoire, festivité, récup' et
                                | customisation.
                            p
                                | Chaque semaine, retrouvez sur place :
                            ul
                                li: | des machines à coudre en libre-service,
                                li
                                    | de la formation afin de développer sa
                                    | technique et gagner en autonomie,
                                li
                                    | une assistance en technique sur vos
                                    | projets.
                            p
                                | Quelles que soient vos envies, vous
                                | bénéficiez d’une offre adaptée à votre
                                | budget.
                            p
                                | mon Bar à Couture propose des formules à
                                | l’heure, au ticket ou à l’abonnement.
                            p
                                | Confectionnez vos projets sous l'œil expert
                                | de Catherine. Elle vous conseille, vous
                                | félicite, et vous accompagne pour créer de
                                | vos propres mains les ouvrages qui vous
                                | ressemblent.
                            p
                                | Venez développer votre créativité autour d'un
                                | thé ou d’un café !
                    div.small-12.medium-12.large-4.columns
                        div.responsive-picture-wrapper(data-equalizer-watch)
                            img(src='/images/concept.jpg')
    section.wrapper
        article
            header
                h1: | Genèse
            section
                div.small-12.medium-12.large-4.columns.picture(data-equalizer-watch)
                    img(src='/images/genese.jpg')
                div.row
                    div.small-12.medium-12.large-8.columns.text(data-equalizer-watch)
                        p
                            | Après 15 années de formation et d’expériences
                            | professionnelles dans le textile et
                            | l’habillement, Catherine lance l’aventure
                            | «&nbsp;mon&nbsp;Bar&nbsp;à&nbsp;Couture » à la
                            | mi-octobre 2012.
                        p
                            | Son concept novateur naît de l’envie de partager
                            | son métier, sa passion et son goût pour le
                            | travail «&nbsp;fait-main&nbsp;».
                        p
                            | Catherine décide d’installer à Wazemmes un lieu
                            | de rassemblement et d’émulation autour de la
                            | couture. Elle désire y créer un véritable
                            | «&nbsp;rendez-vous&nbsp;du&nbsp;Prêt_à_Créer&nbsp;»
                            | où la créativité de chacun peut prendre vie et
                            | s’exprimer  pleinement.
    section.wrapper
        article
            header
                h1: | Le cocktail mon Bar à Couture
            section
                p.text-center
                    | Un peu d’inspiration,
                    br
                    | un soupçon de personnalisation,
                    br
                    | un espace de travail partagé,
                    br
                    | le tout accompagné d’un suivi personnalisé
                    br
                    | =
                    br
                    | Créer les modèles qui vous ressemblent !

    section.wrapper
        article
            header
                h1: | Pourquoi mon Bar à Couture ?
            section
                p.text-center
                    | « Pour changer l’image poussiéreuse que l’on a de
                    | la couture »
                    br
                    | « Pour sortir de l’isolement que la couture impose »
                    br
                    | « Un travail accompli "fait-main" est plus que jamais
                    | une fierté, une façon d’affirmer sa personnalité »
                    br
                    | (Citations clients)
