//- pages/tour/back.jade
//- ====================
//- - author: Neal.Rame. <contact@nealrame.com>
//- -   date: Thu May 14 19:21:03 CEST 2015
extends /layout
block content
    section.wrapper
        article
            header
                h1: | Espace de vente
            section
                div.row
                    div.small-12.medium-12.large-6.columns
                        img(src='/images/fournitures.jpg')
                    div.small-12.medium-12.large-6.columns
                        p: | mon Bar à Couture vous propose à la vente :
                        ul
                            li: | des tissus,
                            li: | des fournitures,
                            li: | de la mercerie,
                            li: | des patrons
                        p
                            | et vous invite également à aller jusqu’au bout de
                            | votre créativité en apportant vos matières
                            | premières (achat, stock et récup’).
    section.wrapper
        article
            header
                h1: | Espace de préparation
            section
                div.row
                    div.small-12.medium-12.large-6.columns
                        img(src='/images/preparation.jpg')
                    div.small-12.medium-12.large-6.columns
                        p
                            | Une fois votre projet défini, mon Bar à Couture
                            | met à votre disposition les outils de coupe et de
                            | traçage pour :
                        ul
                            li: | relever le patron et ses éléments techniques,
                            li: | établir un plan de coupe,
                            li
                                | découper les pièces de votre modèle selon la
                                | nomenclature.
    section.wrapper
        article
            header
                h1: | Espace de montage
            section
                div.row
                    div.small-12.medium-12.large-6.columns
                        img(src='/images/surjeteuses.jpg')
                        img(src='')
                    div.small-12.medium-12.large-6.columns
                        p
                            | Profitez d’un parc de machines performant pour
                            | confectionner vos modèles sans aucune contrainte
                            | technique. mon Bar à Couture met à votre
                            | disposition : 
                        p: | 5 machines à coudre :
                        ul
                            li: | point de broderie fantaisie (motif et alphabet),
                            li: | boutonnière automatique,
                            li: | aide enfile-aiguille,
                            li: | fonctionnement avec ou sans pédale.
                        p: | Deux surjeteuses raseuses :
                        ul
                            li: | 2, 3 ou 4 fils,
                            li: | point rouloté.
                        p: | Une recouvreuse:
                        ul: li: | 4 fils (finition maille).
    section.wrapper
        article
            header
                h1: | Espace pause créative
            section
                div.row
                    div.small-12.medium-12.large-6.columns
                        img(src='/images/detente.jpg')
                    div.small-12.medium-12.large-6.columns
                        p: | Cet espace vous permet :
                        ul
                            li
                                | de consulter des ouvrages spécialisés pour
                                | trouver l’inspiration,
                            li: | de faire du troc (tissus, patrons),
                            li: | d’échanger vos trucs et astuces,
                            li
                                | de réaliser des modèles ne nécessitant pas la
                                | machine à coudre (bijoux, tricot, crochet).
                        p: | … le tout autour d’un thé ou d’un café !
