//- realisations.jade
//- =================
//- - author: Neal.Rame. <contact@nealrame.com>
//- -   date: Thu Jan 15 21:43:37 CET 2015
extends layout

mixin achievement-item(achievement)
    li.achievement
        a.th(href='/pages/achievements/#{achievement.id}')
            figure(title='#{achievement.name}')
                - var picture = achievement.pictures[0].thumbnail
                img(src='/files/#{picture}')
                figcaption: | #{achievement.description}

block content
    section.wrapper
        article
            header
                h1: | Réalisations des clients de mon Bar à Couture
            section
                | Blah blah sur les réalisations
    
    section.wrapper
        article
            ul.achievements
                each achievement in achievements
                    +achievement-item(achievement)
