//- admin_panel_gallery.jade
//- ========================
//- - author: Neal.Rame. <contact@nealrame.com>
//- -   date: Fri Oct 24 00:33:16 CEST 2014

section: article: section: p
    | Gallery panel
