//- frontend.jade
//- =============
//- - author: Neal.Rame. <contact@nealrame.com>
//- -   date: Wed Apr  1 20:07:16 CEST 2015
doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= 'mon Bar à Couture' + (title ? (' - ' + title) : '')
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Raleway:300,700', type='text/css')
        each style in page.stylesheets
            link(rel='stylesheet', href=style)
        script(src='/js/libs/require.js')
    body
        include navbar
        block content
        script
            | require(['/js/common.js'], function(common) {
            | require(['jquery', 'foundation'], function($) {
            |     $(document).foundation();
            | });
            if page.application
                | require(['#{page.application}']);
            | });
