//- index.jade
//- ==========
//- - author: Neal.Rame. <contact@nealrame.com>
//- -   date: Thu Jul 10 00:00:00 CEST 2014
extends layout

block content
    if ! loggedIn
        section
            article
                section
                    p.text-center
                        | Vous devez d'abord vous authentifier avant de pouvoir
                        | continuer:<br>
                        a(href="#{loginLink}").button.text-center
                            | Login
    else
        .icon-bar.three-up
            a.item
                i.fa.fa-rss
                label: | Blog
            a.item
                i.fa.fa-photo
                label: | Gallerie
            a.item
                i.fa.fa-file-code-o
                label: | Pages

        section: article: section: p
            | Pouet!
