//- admin.jade
//- ==========
//- - author: Neal.Rame. <contact@nealrame.com>
//- -   date: Thu Jul 10 00:00:00 CEST 2014

extends layout

block content
    if ! loggedIn
        section.wrapper
            article
                section
                    p.text-center
                        | Vous devez d'abord vous authentifier avant de pouvoir
                        | continuer:
                        br
                        a(href="#{loginLink}").button.text-center: | Login
    else
        
        aside#admin-nav
            ul.side-nav
                each entry in menu['admin']
                    li: a(href="#{entry.slug}"): | #{entry.title}
        
        block admin_content
