//- error.jade
//- ==========
//- - author: Neal.Rame. <contact@nealrame.com>
//- -   date: Thu Jul 10 00:00:00 CEST 2014
extends layout

block content
  h1 #{error.status}: #{error.message}
  pre #{error.stack}
