doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/libs/require.js')

    body
        include navbar
        block content
        include footer
        script.
            require(['js/common'], function(common) {
                require(['app/main'])
            })
