//- layout.jade
//- ===========
//- - author: Neal.Rame. <contact@nealrame.com>
//- -   date: Thu Jul 10 00:00:00 CEST 2014
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Pacifico|Raleway:300,700|family=Oswald:700', type='text/css')
        script(src='/js/libs/require.js')

    body
        include navbar
        block content
        include footer
        script.
            require(['js/common'], function(common) {
                require(['app/main'])
            })
