//- layout.jade
//- ===========
//- - author: Neal.Rame. <contact@nealrame.com>
//- -   date: Thu Jul 10 00:00:00 CEST 2014

- var style = loggedIn && css ? css : '/css/style.css'
- var main  = loggedIn && app ? app : 'front/main'

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='#{style}')
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lobster|Raleway:300,700', type='text/css')
        script(src='/js/libs/require.js')
    body
        include navbar
        block content
        include footer
        script.
            require(['/js/common.js'], function(common) {
                require(['#{main}'])
            })
