//- pages/mbac/plan.jade
//- ====================
//- - author: Neal.Rame. <contact@nealrame.com>
//- -   date: Thu May 14 17:21:47 CEST 2015
extends /layout
block content
    section.wrapper
        article
            header
                h1: | Se rendre à mon Bar à Couture
            section
                ul
                    li#home
                        | 32, rue Mourmant 59000 Lille
                h2 Accès
                ul
                    li#bicycle
                        | V'Lille station Gambetta
                    li#subway
                        | Métro station Gambetta
                    li#car
                        | Parking de la place de la bonne aventure
                h2 Plan
                    .row: .small-12: #map-canvas
