//- pages/home/front.jade
//- =====================
//- - author: Neal.Rame. <contact@nealrame.com>
//- -   date: Wed Apr  1 19:58:54 CEST 2015

mixin achievement-item(achievement)
    - var thumbnail = achievement.pictures[0].thumbnailPath()
    li.thumb
        a(href='/achievements/#{achievement.id}')
            figure.crop(title='#{achievement.name}' data-uri='#{thumbnail}')

mixin notification-item(notification, index, count)
    li.notification
        span= notification.message
            
extends /layout
block content
    div.splash
        p.logo
            span.italic m
            span B
            span à
            span C...

    if notifications.length > 0
        section.wrapper
            #notifications
                ul
                    each notification, index in notifications
                        +notification-item(notification, index, notifications.length)
                #notification-progress
                a.notification-close
                //- .notification-paging
                //-     a.prev: i.fa.fa-caret-left
                //-     <span></span>
                //-     a.next: i.fa.fa-caret-right

    section.wrapper
        article
            header
                h1: | Le rendez-vous du «Prêt-à-créer»
            section
                p
                    | mon Bar à Couture est le lieu destiné aux amateurs de
                    | loisirs creatifs. Ouvert en continu tout au long de la
                    | semaine, il vous offre un cadre privilégié pour réaliser
                    | tous vos projets de couture.
    section.wrapper
        article
            header
                h1: | Horaires d'ouverture
            section                    
                div
                    table.schedule
                        tr
                            td.day: | Mardi
                            td.center: hr
                            td.hour: | 10H - 21H
                        tr
                            td.day: | Mercredi
                            td.center: hr
                            td.hour: | 10H - 18H
                        tr
                            td.day: | Jeudi
                            td.center: hr
                            td.hour: | 10H - 21H
                        tr
                            td.day: | Vendredi
                            td.center: hr
                            td.hour: | 10H - 21H
                        tr
                            td.day: | Samedi
                            td.center: hr
                            td.hour: | 10H - 21H
    section.wrapper
        article
            header
                h1: | Contact
            section
                div.row
                    div.small-centered.medium-uncentered.medium-6.large-4.columns
                        div.contact
                            a(href='/contact')
                                div.contact-icon.phone
                                | 03.20.39.72.44
                    div.small-centered.medium-uncentered.medium-6.large-4.large-push-4.columns
                        div.contact
                            a(href='/contact')
                                div.contact-icon.e-mail
                                | contact@monbaracouture.com
                    div.small-centered.medium-uncentered.medium-12.large-4.large-pull-4.columns
                        div.contact
                            a(href='/plan')
                                div.contact-icon.address
                                | mon Bar à Couture<br>
                                | 32, rue Mourmant<br>
                                | 59000 Lille
    section.wrapper.yellow-filled
        article
            header
                h1: | Newsletter
            section
                p.text-center
                    | Abonnez-vous à la newsletter et recevez toute l'actualité
                    | et les bon plans mon Bar à Couture.
                    br
                    a#subscribe.button.text-center(href="#")
                        | Je m'abonne !
    if achievements.length > 0
        section.wrapper.blue-filled
            article
                header
                    h1: | Dernières réalisations
                section
                    ul#achievements.small-block-grid-1.medium-block-grid-3
                        each achievement in achievements
                            +achievement-item(achievement)
                p.text-center
                    | Voir toutes les réalisations des client(e)s de mon Bar à 
                    | couture :
                    a(href="/achievements"): | &nbsp;ici !
