{
	"production": {
		"host": "db_host_overwrote_common_value"
	},
	"development": {
		"host": "db_host_overwrite_common_value"
	},
	"common": {
		"port": 27017,
		"name": "db_name",
		"user": "db_user_login",
		"password": "db_user_password"
	}
}
