{
	"production": {
		"service": "SMTP_SERVICE_NAME",
		"auth": {
			"user": "SMTP_SERVICE_LOGIN",
			"pass": "SMTP_SERVICE_PASSWORD"
		}
	},
	"development": {
		"service": "SMTP_SERVICE_NAME",
		"auth": {
			"user": "SMTP_SERVICE_LOGIN",
			"pass": "SMTP_SERVICE_PASSWORD"
		}
	},
	"common": {
		"service": "SMTP_SERVICE_NAME",
		"auth": {
			"user": "SMTP_SERVICE_LOGIN",
			"pass": "SMTP_SERVICE_PASSWORD"
		}
	}
}
