{
	"production": {
		"endpoint": "YOUR_MAILCHIMP_API_ENDPOINT",
		"apikey": "YOUR_MAILCHIMP_APIKEY"
	},
	"development": {
        "endpoint": "YOUR_MAILCHIMP_API_ENDPOINT",
		"apikey": "YOUR_MAILCHIMP_APIKEY"
	},
	"common": {
        "endpoint": "YOUR_MAILCHIMP_API_ENDPOINT",
		"apikey": "YOUR_MAILCHIMP_APIKEY"
	}
}
