@import "settings";

body, article, div, ol, p, section, span, ul {
    font-family: $body-font-family;
    @media #{$medium} {
        font-size: $body-medium-up-font-size;
    }
    @media #{$large} {
        font-size: $body-large-up-font-size;
    }
}
h1, h2, h3 {
    font-family: $header-font-family;
    font-style: $header-font-style;
    font-weight: $header-font-weight;
}

@mixin wrapper-color($bg-color, $fg-color, $h1-color, $link-color) {
    background-color: $bg-color;
    color: $fg-color;
    article {
        & > header > h1 {
            color: $h1-color;
        }
        a:not(.button) {
            color: $link-color;
        }
        a.button {
            color: $bg-color
        }
    }
}

@mixin wrapper-image($bg-image, $bg-color, $fg-color, $h1-color, $link-color) {
    @include wrapper-color($bg-color, $fg-color, $h1-color, $link-color);
    background-image: $bg-image;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

section.wrapper {
    -webkit-transform: translate3d(0,0,0);
    overflow: auto;
    position: relative;
    z-index: 2;
    article {
        font-size: 1rem;
        h2 {
            font-size: $h2-font-size;
            @media #{$large-up} {
                font-size: $h2-large-up-font-size;
            }
        }
        h3 {
            font-size: $h3-font-size;
            @media #{$large-up} {
                font-size: $h3-large-up-font-size;
            }
        }
        & > header > h1 {
            color: $section-title-color;
            font-size: $h1-font-size;
            @media #{$medium-up} {
                font-size: $h1-medium-up-font-size;
            }
            @media #{$large-up} {
                font-size: $h1-large-up-font-size;
            }
        }
        & > header, & > section {
            margin: 16px 8px 8px;
            @media #{$medium-up} {
                margin: 16px 16px 8px;
            }
            @media #{$large-up} {
                margin: 16px 32px 8px;
            }
        }
        @media #{$large-up} {
            margin: 0 auto;
            width: lower-bound($large-range);
        }
    }
    & {
        @include wrapper-color(
            $bg-color: $page-background-color,
            $fg-color: $body-font-color,
            $h1-color: $section-title-color,
            $link-color: $blue
        );
    }
    &.green-filled {
        @include wrapper-color(
            $bg-color: $green,
            $fg-color: $white,
            $h1-color: $light-gray,
            $link-color: $blue
        );
    }
    &.blue-filled {
        @include wrapper-color(
            $bg-color: $blue,
            $fg-color: $white,
            $h1-color: $light-gray,
            $link-color: $yellow
        );
    }
    &.yellow-filled {
        @include wrapper-color(
            $bg-color: $yellow,
            $fg-color: $black,
            $h1-color: $gray,
            $link-color: $white
        );
    }
    &.purple-filled {
        @include wrapper-color(
            $bg-color: $purple,
            $fg-color: $white,
            $h1-color: $gray,
            $link-color: $white
        );
    }
    &.image-filled1 {
        @include wrapper-image(
            $bg-image: url(../images/surjeteuses.jpg),
            $bg-color: $black,
            $fg-color: $white,
            $h1-color: $section-title-color,
            $link-color: lighten($blue, 55)
        )
    }
}
