@import "settings";
@import "foundation/components/switches";

.form-wrapper {
    .error {
        background-color: $form-input-error-bg-color;
        border-bottom: solid $form-input-error-border-thickness $form-input-error-border-color;
        font-size: $form-input-font-size;
        margin-bottom: 1em;
        padding: .5em;
        padding-left: 2em;
        position: relative;
        &::before {
            content: '\f071';
            font-family: 'FontAwesome';
            left: 0;
            margin-left: .5em;
            position: absolute;
        }
    }
    .input {
        font-size: $form-input-font-size;
        margin: 0 1em;
        margin-bottom: 2em;
        position: relative;
        input, textarea {
            all: initial;
            background-color: $form-input-bg-color;
            border: none;
            border-bottom: solid 1px $form-input-bg-color-focus;
            box-shadow: none;
            box-sizing:border-box;
            color: $form-input-fg-color;
            display: block;
            font-family: $body-font-family;
            font-size: inherit;
            margin: 0;
            outline: none;
            padding: .25em;
            transition: background-color $form-input-focus-transition-speed ease-out;
            width: 100%;
            @include input-placeholder-color($form-input-place-holder-color);
            &:focus {
                background-color: $form-input-bg-color-focus;
                color: $form-input-fg-color-focus;
                transition: background-color $form-input-focus-transition-speed ease-out;
            }
        }
        textarea {
            resize: vertical;
        }
        &::after {
            content: '';
            display: block;
            position: relative;
            border-bottom: solid $form-input-border-thickness $form-input-border-color;
            transform: scaleX(0);
            transition: transform $form-input-focus-transition-speed ease-out;
        }
        &.filled {
            &::after {
                transform: scaleX(1);
                transition: transform $form-input-focus-transition-speed ease-out;
            }
        }
    }
    label {
        font-size: $form-input-label-font-size;
        font-weight: bold;
        font-family: $body-font-family;
        position: relative;
        &[data-field-valid="false"] {
            color: $form-input-invalid-color;
            .tooltip {
                background-color: $form-input-tooltip-bg-color;
                border: solid 1px $form-input-tooltip-border-color;
                border-radius: 4px;
                display: inline;
                color: $form-input-tooltip-fg-color;
                font-size: .7em;
                margin-left: 1.5em;
                margin-top: -.5em;
                opacity: 0;
                padding: .7em;
                position: absolute;
                text-align: center;
                transition: opacity .25s ease-out;
                width: $form-input-tooltip-width;
                z-index: 10;
                &::before {
                    background-color: $form-input-tooltip-bg-color;
                    border: solid 1px $form-input-tooltip-border-color;
                    border-bottom: none;
                    border-right: none;
                    content: '';
                    position: absolute;
                    left: -.5em;
                    top: 1em;
                    transform: rotate(-45deg);
                    height: 1em;
                    width: 1em;
                    z-index: 1;
                }
            }
            &:hover {
                .tooltip {
                    opacity: 1;
                    transition: opacity .25s ease-out;
                }
            }
        }
    }
}
