@import "settings";

$fa-font-path: $icon-font-path;
@import "font-awesome";

$mono-font-path: $icon-font-path;
$mono-font-name: 'Mono Social Icons Font';
$mono-font-basename: 'MonoSocialIconsFont';

@font-face {
    font-family: $mono-font-name;
    src: url('#{$mono-font-path}/#{$mono-font-basename}-1.10.eot');
    src: url('#{$mono-font-path}/#{$mono-font-basename}-1.10.eot?#iefix') format('embedded-opentype'),
         url('#{$mono-font-path}/#{$mono-font-basename}-1.10.woff') format('woff'),
         url('#{$mono-font-path}/#{$mono-font-basename}-1.10.ttf') format('truetype'),
         url('#{$mono-font-path}/#{$mono-font-basename}-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('#{$mono-font-path}/#{$mono-font-basename}-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: $mono-font-name;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}
