// We use these to define default font weights
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;
$font-weight-normal: 300;
$body-font-family: "Raleway", sans-serif;
$body-font-weight: $font-weight-normal;
$font-smoothing: antialiased;

@import "foundation/settings";
@import "foundation/components/global";

// Global
// ------
// Colors
$black: #232020;
$white: #fff;
$gray: #5f5a5a;
$light-gray: #e4e5e6;
$red: #f52a48;
$yellow: #f7da00;
$green: #2ecc71;
$blue: #008bc8;
$purple: #b4277c;

$alert-color: $red;
$info-color: #a0d3e8;      // cornflower
$primary-color: $blue;
$secondary-color: $white;
$success-color: $green;
$warning-color: #f08a24;   // carrot

$page-background-color: $white;

$body-bg: $page-background-color;
$body-font-color: $black;

$section-title-color: lighten($gray, 33);

// Splash
// ------
$splash-height: 384px;
$splash-background-color: $black;

// Tables
// ------
$table-row-font-color: inherit;

// Top Bar
// -------
$topbar-bg: $black;
$topbar-dropdown-bg: $black;
$topbar-link-color-hover: $yellow;
$topbar-link-color-active: $yellow;
$topbar-link-color-active-hover: $yellow;
$topbar-link-weight: $font-weight-bold;
$topbar-link-bg-hover: $black;
$topbar-link-bg-active: $black;
$topbar-link-bg-active-hover: $black;
$font-path: "/fonts";

// Footer
// ------
$footer-background-color: $black;
$footer-foreground-color: $white;

// Buttons
// -------
$button-font-color: $white;
