@import "foundation/settings";
@import "foundation/components/global";

// We use these to define default font weights
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

// Global
// ------
// Colors
$black: #232020;
$blue: #0095c7;
$gray: #3d3838;
$light-gray: #e4e5e6;
$red: #ee222e;
$yellow: #ffcf01;
$white: #fff;

$page-background-color: $light-gray;
$page-section-title-color: #aaa;

$body-bg: $page-background-color;
$body-font-color: $black;

$font-weight-normal: 300;
$body-font-family: "Raleway", sans-serif;
$body-font-weight: $font-weight-normal;
// $body-font-style: normal;

// We use this to control font-smoothing
$font-smoothing: antialiased;

// Splash
// ------
$splash-height: 384px;
$splash-background-color: $black;

// Tables
// ------
$table-row-font-color: inherit;

// Top Bar
// -------
$topbar-bg: $black;
$topbar-dropdown-bg: $black;
$topbar-link-color-hover: $yellow;
$topbar-link-color-active: $yellow;
$topbar-link-color-active-hover: $yellow;
$topbar-link-weight: $font-weight-bold;
$topbar-link-bg-hover: $black;
$topbar-link-bg-active: $black;
$topbar-link-bg-active-hover: $black;
$font-path: "/fonts";
