@import "settings";

.action-bar {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    overflow: auto;
}

.action-bar a {
    color: lightgray;
    float: right;
    text-decoration: none;
    margin: 2px;
    display: block;
}

.action-bar a:hover {
    color: red;
}

.thumbnails {
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: 16px;
    overflow: auto;
    .thumb {
        border: 2px solid white;
        float: left;
        margin: 2px;
        @media #{$medium-up} {
            border: 4px solid white;
            margin: 4px;
        }
        position: relative;
        .crop {
            color: #ccc;
            display: block;
            overflow: hidden;
            position: relative;
            .thumb-link {
                color: inherit;
                * {
                    color: inherit;
                    position: absolute;
                }
                img {
                    max-width: none;
                    max-height: none;
                }
            }
        }
        .crop[data-empty] {
            background-color: #eee;
        }
    }
    &.framed {
        border: 1px solid $light-gray;
    }
}
