@import "style";
@import "foundation/components/icon-bar";

// Gallery widget /////////////////////////////////////////////////////////////
.action-bar {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    overflow: auto;
}

.action-bar a {
    color: lightgray;
    float: right;
    text-decoration: none;
    margin: 2px;
    display: block;
}

.action-bar a:hover {
    color: red;
}

#achievement-toolbox {
    border: solid 1px lightgray;
    padding: 6px;
    margin-right: 16px;
    float: left;
    li {
        float: left;
        clear: both;
        width: 100%;
    }
    #filters {
        list-style-type: none;
        display: none;
    }
}

.achievement-editor {
    border-bottom: solid 1px lightgray;
    margin-bottom: 8px;
    .thumbnails {
        border: 1px solid lightgray;
        min-height: 128px,
    }
    #add-pictures {
        @extend .button;
        @extend .expand;
        &:after {
            content: 'Ajouter des images';
        }
    }
    .unpublish-button {
        @extend .button;
        @extend .alert;
        &:after {
            content: 'Ne plus publier la réalisation';
        }
    }
    .publish-button {
        @extend .button;
        @extend .success;
        &:after {
            content: 'Publier la réalisation';
        }
    }
    .unpublish-button, .publish-button {
        @extend .expand;
    }
}

// Tabbed panels widget ///////////////////////////////////////////////////////
.tab-bar > .items {
    @include icon-bar(
        // Set the background color of the icon bar.
        $bar-bg: $gray,
        // Set the font color of the icon bar.
        $bar-font-color: $white,
        // Set the hover background color for the icon bar.
        $bar-hover-color: #ccc,
        // Set the padding for icon bar.
        $padding: 0.25rem 0 0 0,
        // Set the font-size of the icon bar.
        $font-size: 1em,
        // Set the size of the icons within the icon bar.
        $icon-size: 1.25rem
    );

    .item {
        border-bottom: 2px solid #aaa;
		&:hover, &[data-state=active] {
            * { color: $black; }
        }
        &[data-state=active] {
            background-color: $light-gray;
            border: 2px solid #aaa;
            border-bottom: none;
        }
        &:first-child { border-left:  none; }
        &:last-child  { border-right: none; }
    }

    &.label-right > .item {
        i, img {
            display: inline-block;
            font-size: 1rem;
            margin: 0 0.5rem 4px 0;
        }
        label { display: inline-block; }
	}

    &.one-up   > .item { width: 100%; }
    &.two-up   > .item { width: 50%; }
    &.three-up > .item { width: 33.3333%; }
    &.four-up  > .item { width: 25%; }
    &.five-up  > .item { width: 20%; }
    &.six-up   > .item { width: 16.6666%; }
}

// Admin menu /////////////////////////////////////////////////////////////////
aside#admin-nav {
    width: 256px;
    float: left;
}
