@import "style";
@import "foundation/components/icon-bar";
@import "foundation/components/side-nav";

$admin-nav-width: 200px;

///////////////////////////////////////////////////////////////////////////////
// Admin menu
#admin-nav {
    background-color: lighten($topbar-bg-color, 5);
    top: $topbar-height;
    height: 100%;
    position: fixed;
    width: $admin-nav-width;
    .side-nav {
        a {
            color: $white;
        }
    }
}

///////////////////////////////////////////////////////////////////////////////
// Admin content wrapper
#admin-content-wrapper {
    left: $admin-nav-width;
    padding: 1rem;
    position: absolute;
    right: 0;
}
