@import "settings";
@import "icons";

body {
    font-size: 16px;
}
article, body, div, p, ol, section, span, ul {
    font-family: $body-font-family;
    @media #{$medium-up} {
        font-size: 1.25rem;
    }
}
h1, h2, h3 {
    font-family: $header-font-family;
    font-style: $header-font-style;
    font-weight: $header-font-weight;
}
h1 {
    font-size: 1.25rem;
    @media #{$large-up} {
        font-size: 2rem;
    }
}
h2 {
    font-size: 1rem;
    @media #{$large-up} {
        font-size: 1.75rem;
    }
}
h3 {
    font-size: 1rem;
    @media #{$large-up} {
        font-size: 1.5rem;
    }
}
.toggle-button {
    @extend .button;
    &[data-state='disabled'] {
        @extend .secondary;
    }
}
.smaller {
    font-size: 0.9em;
}
.small {
    font-size: x-small;
}
.super {
    vertical-align: super;
}
section.wrapper {
    background-color: $page-background-color;
    position: relative;
    -webkit-transform: translate3d(0,0,0);
    z-index: 2;
    article {
        font-size: 1rem;
        @media #{$large-up} {
            margin: 0 auto;
            width: lower-bound($large-range);
        }
        & > header {
            h1 {
                color: $section-title-color;
            }
        }
        & > header, & > section {
            margin: 16px 8px 8px;
            @media #{$medium-up} {
                margin: 16px 16px 8px;
            }
            @media #{$large-up} {
                margin: 16px 32px 8px;
            }
        }
    }
    &.green-filled {
        background-color: $green;
        color: $white;
        z-index: 2;
        article > header > h1{
            color: $light-gray;
        }
    }
    &.blue-filled {
        background-color: $blue;
        color: $white;
        z-index: 2;
        article > header > h1{
            color: $light-gray;
        }
        a {
            color: $yellow;
        }
    }
    &.yellow-filled {
        background-color: $yellow;
        color: $black;
        z-index: 2;
        article > header > h1{
            color: $gray;
        }
        a:not(.button) {
            color: $blue;
        }
    }
    &.purple-filled {
        background-color: $purple;
        color: $white;
        z-index: 2;
        article > header > h1{
            color: $gray;
        }
        a {
            color: $white;
        }
    }
    overflow: auto;
}
.uncolapser {
    &::before {
        content: ' ';
        display: table;
    }
}

@import "menu";
@import "footer";
@import "foundation/components/grid";
@import "foundation/components/type";
