@import "settings";
@import "icons";

article {
    font-size: 16px;
    font-family: $body-font-family;
}

@import "menu";

@import "foundation/components/grid";
@import "foundation/components/type";


body, div, p, ol, section, span, ul {
    font-size: 16px;
    font-family: $body-font-family;
    @media #{$medium-up} {
        font-size: 1.25rem;
    }
}

h1, h2, h3 {
    font-family: 'Georgia', serif;
    font-style: italic;
    font-weight: bold;
    color: $gray;
}
h1 {
    font-size: 1.25rem;
    @media #{$large-up} {
        font-size: 2rem;
    }
}
h2 {
    font-size: 1rem;
    @media #{$large-up} {
        font-size: 1.75rem;
    }
}
h3 {
    font-size: 1rem;
    @media #{$large-up} {
        font-size: 1.5rem;
    }
}
.toggle-button {
    @extend .button;
    &[data-state='disabled'] {
        @extend .secondary;
    }
}

.smaller {
    font-size: 0.9em;
}
.small {
    font-size: x-small;
}
.super {
    vertical-align: super;
}
section.wrapper {
    background-color: $page-background-color;
    position: relative;
    -webkit-transform: translate3d(0,0,0);
    z-index: 2;
    article {
        @media #{$large-up} {
            margin: 0 auto;
            width: lower-bound($large-range);
        }
        & > header {
            h1 {
                color: $section-title-color;
            }
        }
        & > header, & > section {
            margin: 16px 8px 8px;
            @media #{$medium-up} {
                margin: 16px 16px 8px;
            }
            @media #{$large-up} {
                margin: 16px 32px 8px;
            }
        }
    }
    &.green-filled {
        background-color: $green;
        color: $white;
        z-index: 2;
        article > header > h1{
            color: $light-gray;
        }
    }
    &.blue-filled {
        background-color: $blue;
        color: $white;
        z-index: 2;
        article > header > h1{
            color: $light-gray;
        }
        a {
            color: $yellow;
        }
    }
    &.yellow-filled {
        background-color: $yellow;
        color: $black;
        z-index: 2;
        article > header > h1{
            color: $gray;
        }
        a:not(.button) {
            color: $blue;
        }
    }
    &.purple-filled {
        background-color: $purple;
        color: $white;
        z-index: 2;
        article > header > h1{
            color: $gray;
        }
        a {
            color: $white;
        }
    }
    overflow: auto;
}
.uncolapser {
    &::before {
        content: ' ';
        display: table;
    }
}
footer {
    background-color: $footer-background-color;
    color: $footer-foreground-color;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    a {
        color: inherit;
        &:hover {
            color: $gray;
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            display: inline;
        }
    }
    .links {
        background-color: lighten($footer-background-color, 5);
        a  {
            font-size: small;
        }
        li {
            margin: 0;
        }
        li:not(:last-child):after {
            margin: 0 1ch;
            content: "-"; // &#x2013;
        }
    }
    .socials {
        margin: 0 auto;
        a  {
            font-size: xx-large;
        }
        li {
            margin: .25em;
        }
    }
    .copyright {
        font-size: x-small;
        margin: 0 auto;
    }
}
