@import "settings";
@import "icons";

@import "foundation/foundation";


.top-bar {
        img.user-picture {
            @extend .show-for-medium-up;
            width: $topbar-height;
            height: $topbar-height;
        }
        span.user-name {
            @extend .show-for-small;
        }
}

footer {
    background-color: #C14735;
    clear: both;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    a {
        color: inherit;
        &:hover {
            color: #282828;
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li { display: inline; }
    }
    .links {
        background-color: #BF2F1A;
        a  { font-size: x-small; }
        li { margin: 0;}
        li:not(:last-child):after {
            margin: 0 1ch;
            content: "-"; // &#x2013;
        }
    }
    .socials {
        margin: 0 auto;
        a  { font-size: xx-large; }
        li { margin: .25em; }
    }
    .copyright {
        font-size: x-small;
        margin: 0 auto;
    }
}
