@import "../../settings";
.price-table {
    tr {
        margin: 0;
        td {
            border: none;
            &.center {
                & > hr {
                    border: none;
                    border-bottom: 2px dotted #999;
                    height: 1ex;
                    margin: 0;
                    margin-bottom: 1ex;
                }
                text-align: bottom;
                width: 100%;
            }
            &.right {
                text-align: right;
            }
            &.left {
                text-align: left;
            }
            &.euro {
                &::after {
                    content: ' €';
                }
            }
            vertical-align: bottom;
            white-space: nowrap;
        }
    }
    margin: 0 auto;
    width: 100%;
}
.price-list {
    font-size: small;
    margin: 0;
    padding: 0;
    .price-list {
        @media #{$medium-up} {
            padding-left: 16px;
        }
    }
    & > li {
        list-style-type: none;
        margin: 0;
    }
    p {
        margin-bottom: 0;
    }
    h1, h2 {
        margin: 0;
    }
    h1 {
        font-size: small;
        margin-top: 8px;
        @media #{$medium-up} {
            font-size: 2em;
        }
    }
    h2 {
        font-size: small;
        margin-top: 4px;
        @media #{$medium-up} {
            font-size: 1.75em;
        }
    }
    a {
        color: #08c;
        &:hover {
            color: #058;
        }
        h1, h2 {
            color: inherit;
        }
    }
}
.price-notes {
    counter-reset: index;
    li {
        list-style-type: none;
        counter-increment: index;
        &:before {
            content: counter(index) '. ';
            font-size: x-small;
        }
    }
    margin: 0;
    padding: 0;
}
