@import "../../settings";

ul {
    list-style-type: none;
    margin-left: 0;
    li {
        &::before {
            color: $gray;
            display: inline-block;
            font-family: FontAwesome;
            font-size: 1rem;
            margin-right: 1rem;
            text-align: center;
            width: 1rem;
        }
        @media #{$medium-up} {
            &::before {
                font-size: 2rem;
                width: 3rem;
            }
        }
    }
    li#home {
        &::before {
            content: "\f041";
        }
    }
    li#bicycle {
        &::before {
            content: "\f206";
        }
    }
    li#subway {
        &::before {
            content: "\f239";
        }
    }
    li#car {
        &::before {
            content: "\f1b9";
        }
    }
    li#bicycle, li#subway, li#car {
        &:hover {
            background-color: $light-gray;
            cursor: pointer;
        }
    }
}
#map-canvas {
    height: 228px;
    width: 100%;
    @media #{$medium-up} {
        height: 640px;
    }
}
