//- pages/services/front.jade
//- =========================
//- - author: Neal.Rame. <contact@nealrame.com>
//- -   date: Thu May 14 19:51:13 CEST 2015
mixin link_to_price(anchor)
    | &nbsp;(voir&nbsp;
    a(href='/prices##{anchor}'): | Tarifs
    | )

extends /layout
block content
    section.wrapper
        article
            header
                a#self-service
                h1: | Libre service
            section
                p
                    | Pas de programme obligatoire ni de modèle imposé ! Vous
                    | réalisez vos projets selon vos envies et besoins. Que
                    | vous soyez débutant ou d’un niveau confirmé, vous accédez
                    | à l’espace de travail partagé, accompagné ou en
                    | autonomie.
                | Choisissez…
                div.row
                    div.small-12.medium-12.large-offset-1.large-3.columns
                        strong: | Le projet
                    div.small-12.medium-12.large-8.columns
                        | vêtement, accessoire, déco, festivité, récup’,
                        | customisation, retouche
                div.row
                    div.small-12.medium-12.large-offset-1.large-3.columns
                        strong: | Le patron
                    div.small-12.medium-12.large-8.columns
                        | tiré d’un ouvrage d’édition spécialisé, d’un blog,
                        | d’un magazine…
                div.row
                    div.small-12.medium-12.large-offset-1.large-3.columns
                        strong: | La matière première
                    div.small-12.medium-12.large-8.columns
                        | tissu, fourniture (stock personnels ou stock à la 
                        | vente dans Mon Bar à Couture).
                br
                | Bénéficiez…
                div.row
                    div.small-12.medium-12.large-offset-1.large-3.columns
                        strong: | Du matériel
                    div.small-12.medium-12.large-8.columns
                        | de coupe, de traçage et du parc de machines à coudre
                        | à votre disposition
                div.row
                    div.small-12.medium-12.large-offset-1.large-3.columns
                        strong: | D'une assistance
                    div.small-12.medium-12.large-8.columns
                        | technique et conseil sur chacun de vos projets tout
                        | au long de la phase de création
                br
                div.emphasized
                    header: | Informations pratiques
                    | Avec et sans réservation,
                    br
                    | accès à l’heure, au ticket ou à l’abonnement,
                    br
                    | accessible à tout moment selon les heures d’ouverture,
                    br
                    | prix : de 7 € à 290 €
                    +link_to_price('self-service')
                    | .
    section.wrapper
        article
            header
                a#introduction
                h1: | Atelier d'initiation à couture
            section
                p
                    | L'atelier d'initiation vous permet d'apprendre à utiliser
                    | une machine à coudre et vous donne les bases pour
                    | démarrer vos premiers projets.
                p:  | Déroulement de l'atelier :
                ul
                    li
                        strong: | Phase 1
                        em: | &nbsp;(premier rendez-vous de deux heures)
                        ul
                            li: | Présentation générale de l’activité,
                            li: | manipulation du matériel du quotidien de la couture,
                            li: | mise en route sur la machine à coudre,
                            li: | exercice de piquage.
                    li
                        strong: | Phase 2
                        em: | &nbsp;(second rendez-vous de trois heures)
                        ul
                            li: | Accompagnement de votre premier projet.
                div.emphasized
                    header: | Informations pratiques
                    | Les fournitures de la première phase sont comprises dans
                    | l'offre.
                    br
                    | Réservation par téléphone ou sur place,
                    br
                    | durée : 5h,
                    br
                    | prix : 35 €
                    +link_to_price('introduction')
                    | .
    section.wrapper
        article
            header
                a#sewing-machine
                h1: | Prise en mains de votre machine à coudre
            section
                p
                    | Vous avez hérité, chiné, récupéré ... une machine à
                    | coudre mais vous ne savez pas l'utiliser. Venez avec et
                    | découvrons ensemble son potentiel.
                div.emphasized
                    header: | Informations pratiques
                    | Accessible à tout moment sur réservation par téléphone ou
                    | sur place,
                    br
                    | durée : 2h minimum,
                    br
                    | prix : 18 €
                    +link_to_price('sewing-machine')
                    | .
    section.wrapper
        article
            header
                a#training
                h1: | Formation
            section
                p:  | Vous savez coudre et avez soif d’apprendre.
                p
                    | Vous engagez un projet mais avez besoin d’être accompagné
                    | sur certaines étapes, mon Bar à Couture propose à la
                    | carte des formations techniques de montage et de
                    | patronage.
                h2: | Formation technique de montage
                p:  em: | Gagnez en autonomie
                ul
                    li
                        strong: | Préparation
                        br
                        | Vous avez trouvé un patron d’auteur qui vous 
                        | plaît, apprenez à :
                        br
                        | identifier, extraire, mesurer le patron à la bonne
                        | taille et vous projeter sur le bien aller du vêtement
                        | avant la coupe.
                    li
                        strong: | Coupe
                        br
                        | Placez vos pièces de patron pour optimiser l’emploi
                        | matière.
                    li
                        strong: | Montage
                        ul
                            li
                                | Monter le système de fermeture du vêtement :
                                br
                                | fermeture à glissière basique, invisible,
                                | avec sous patte (type pantalon) et fermeture
                                | avec patte de boutonnage (bouton/boutonnière).
                            li
                                | Monter les sous-éléments du vêtement :
                                br
                                | col, ceinture, manches, poche.
                            li: | Monter une doublure.
                    li
                        strong: | Finition
                        br
                        | Réalisez les finitions de vos projets :
                        br
                        | coin onglet, biais, passepoil, parment, ourlet,
                        | poignet et fente.
                h2: | Formation technique de patronage
                p: em: | N'ayez plus de limite dans vos créations
                ul
                    li
                        strong: | Construction sur base existante
                        br
                        | Créez, modifiez, déclinez, augmentez, réduisez vos
                        | patrons.
                    li
                        strong: | Construction à vos mesures
                        br
                        | Créez les bases de votre future collection : jupe,
                        | corsage, manche, pantalon.
                div.emphasized
                    header: | Informations pratiques
                    | Ces formations de petites techniques sont facturées en
                    | dehors du libre service et sont accessibles aux personnes
                    | autonomes à la machine à coudre. 
                    br
                    | Accessible à tout moment sur réservation par téléphone ou
                    | sur place.
                    br
                    | prix : de 7 € à 47 €
                    +link_to_price('training')
                    | .
