@import "settings";

$progress-height: 0.2rem;
$progress-color: darken($notification-bg-color, 25);
$line-height: 2rem;
$dim: 1.2rem;

#notifications {
    #notification-progress {
        border-bottom: solid $progress-height $progress-color;
        height: 0;
        width: 100%;
    }
    .notification-close {
        color: $notification-fg-color;
        cursor: pointer;
        line-height: $dim;
        width: $dim;
        position: absolute;
        right: ($line-height - $dim)/2;
        top: ($line-height - $dim)/2;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        transition: all .25s ease;
        &::after {
            content: '\f00d';
            font-family: FontAwesome;
            font-size: $dim;
        }
    }
    .notification-paging {
        color: $notification-fg-color;
        line-height: 1rem;
        font-size: 1rem;
        position: absolute;
        right: 2*$dim;
        top: ($line-height - 1)/2;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        transition: all .25s ease;
        .next, .prev {
            color: $notification-fg-color;
            font-size: 1rem;
        }
    }
    &:hover {
        .notification-close {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            transition: all .25s ease;
        }
        .notification-paging {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            transition: all .25s ease;
        }
    }
    ul {
        height: $line-height;
        margin: 0;
        position: relative;
        .notification {
            width: 100%;
            background-color: $notification-bg-color;
            color: $notification-fg-color;
            line-height: $line-height;
            list-style: none;
            position: absolute;
            text-align: center;
            &.alert {
                background-color: $notification-alert-bg-color;
                border: solid 1px $notification-alert-border-color;
            }
        }
    }
}
