@import "../../settings";

$notification-bg-color: $info-color;
$notification-border-color: lighten($notification-bg-color, 5);
$notification-alert-bg-color: $alert-color;
$notification-alert-border-color: lighten($notification-alert-bg-color, 5);
$notification-fg-color: white;

$notification-active-color: $green;
$notification-inactive-color: lighten($gray, 15);
$notification-label-color: lighten(black, 75);
$notification-action-color: darken($notification-bg-color, 20);

$notification-progress-height: 2px;
$notification-progress-color: darken($notification-bg-color, 25);

$notification-line-height: 1rem;
$notification-font-size: .7rem;
$notification-font-size-medium-up: 1rem;
$notification-height: 2*$notification-line-height;
