@import "./settings";
@import "foundation/components/button-groups";
@import "foundation/components/forms";
@import "foundation/components/switches";
@import "foundation/components/reveal";
@import "foundation-datepicker";

.notification-editor {
    border-bottom: 1px solid $light-gray;
    margin-bottom: 1em;
    .switch {
        @include switch-base($switch-paddle-transition-speed, $switch-paddle-transition-ease);
        @include switch-size(1.5rem);
        @include switch-style(#fff, $notification-active-color, true, true);
        width: 3rem;
        margin: 0 auto;
        margin-top: 0.01rem;
        label {
            margin: 0;
        }
    }
}

#notifications {
    ul {
        margin: 0;
        .notification {
            border-bottom: 1px solid $notification-label-color;
            list-style: none;
            margin-bottom: 2rem;
            overflow: auto;
            position: relative;
            text-align: center;
            .active-mark {
                color: $notification-inactive-color;
                float: left;
                font-size: .75rem;
                margin-left: .5rem;
                margin-top: .5rem;
            }
            .active-mark[data-state='active'] {
                color: $notification-active-color;
            }
            .message {
                background-color: $notification-bg-color;
            }
            .metadata {
                .start-date-label, .end-date-label, .published-label {
                    color: lighten(black, 75);
                    float: left;
                    font-size: .8rem;
                    margin-top: .25rem;
                    width: 33.33%;
                }
            }
            .action {
                color: $notification-action-color;
                float: right;
                font-family: FontAwesome;
                width: 1.5em;
                opacity: 0;
                margin-left: .25em;
                text-decoration: none;
                transition: background-color .25s ease-out;
                transition: opacity .25s ease-out;
                &[data-action='remove'] {
                    &::after {
                        content: '\f00d';
                    }
                }
                &[data-action=edit] {
                    &::after {
                        content: '\f040';
                    }
                }
            }
            &:hover {
                .action {
                    opacity: 1;
                    transition: opacity .25s ease-out;
                }
                .action:hover {
                    background-color: $notification-border-color;
                    transition: background-color .25s ease-out;
                }
            }
        }
    }
}
