@import "../../settings";

$notice-bg-color: $info-color;
$notice-border-color: lighten($notice-bg-color, 5);
$notice-alert-bg-color: $alert-color;
$notice-alert-border-color: lighten($notice-alert-bg-color, 5);
$notice-fg-color: white;
