@import "settings";
@import "foundation/components/block-grid";
@import "foundation/components/button-groups";
@import "foundation/components/forms";
@import "foundation/components/reveal";
@import "foundation/components/tables";

body > .splash {
    display: none;
}


$progress-height: 0.2rem;
$progress-color: darken($notification-bg-color, 25);
$line-height: 2rem;
$dim: 1.2rem;

#notifications {
    #notification-progress {
        border-bottom: solid $progress-height $progress-color;
        height: 0;
        width: 100%;
    }
    ul {
        height: $line-height;
        margin: 0;
        position: relative;
        .notification {
            width: 100%;
            background-color: $notification-bg-color;
            color: $notification-fg-color;
            line-height: $line-height;
            list-style: none;
            position: absolute;
            text-align: center;
            .notification-close {
                color: $notification-fg-color;
                cursor: pointer;
                line-height: $dim;
                width: $dim;
                position: absolute;
                right: ($line-height - $dim)/2;
                top: ($line-height - $dim)/2;
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
                transform: scale(0);
                transition: all .25s ease;
                &::after {
                    content: '\f00d';
                    font-family: FontAwesome;
                    font-size: $dim;
                }
            }
            .notification-paging {
                line-height: 1rem;
                font-size: 1rem;
                position: absolute;
                right: 2*$dim;
                top: ($line-height - 1)/2;
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
                transform: scale(0);
                transition: all .25s ease;
                .next, .prev {
                    color: $notification-fg-color;
                    font-size: 1rem;
                }
            }
            &:hover {
                .notification-close {
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                    transition: all .25s ease;
                }
                .notification-paging {
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                    transition: all .25s ease;
                }
            }
            &.alert {
                background-color: $notification-alert-bg-color;
                border: solid 1px $notification-alert-border-color;
            }
        }
    }
}

@media #{$medium-up} {
    body > .splash {
        background-color: $splash-background-color;
        display: block;
        height: $splash-height;
        font-size: 10em;
        width: 100%;
        position: fixed;
        z-index: 1;
        @media #{$large-up} {
            font-size: 12em;
        }
        .logo {
            color: white;
            font-size: inherit;
            font-family: 'Georgia', serif;
            font-weight: bold;
            letter-spacing: -8px;
            text-align: center;
            margin-top: 96px;
            .italic {
                font-style: italic;
                font-weight: normal;
                letter-spacing: -26px;
            }
            & > span {
                font-size: inherit;
                font-family: inherit;
            }
        }
        & + section {
            margin-top: $splash-height;
        }
    }
}
#achievements {
    li {
        figure {
            display: none;
            border: 4px solid white;
            margin: 0;
            padding: 0;
            position: relative;
            overflow: hidden;
            img {
                position: absolute;
                max-width: none;
                max-height: none;
            }
        }
    }
}
table.schedule {
    background-color: inherit;
    border-collapse: collapse;
    border: none;
    color: inherit;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
    tr {
        background: none;
        margin: 0;
        td {
            border: none;
            font-size: 1em;
            &.center {
                & > hr {
                    border: none;
                    border-bottom: 2px dotted $light-gray;
                    height: 1ex;
                    margin: 0;
                    margin-bottom: 1ex;
                }
                width: 100%;
            }
            &.day {
                text-align: right;
            }
            &.hour {
                text-align: left;
            }
            vertical-align: bottom;
            white-space: nowrap;
        }
    }
}
.contact {
    text-align: center;
    .contact-icon {
        background-color: #aaa;
        border-radius: 90px;
        color: $light-gray;
        font-family: FontAwesome;
        font-size: 2em;
        line-height: 64px;
        height: 64px;
        width: 64px;
        margin: 8px auto;
        text-align: center;
        @media #{$medium-up} {
            font-size: 3em;
            line-height: 96px;
            height: 96px;
            width: 96px;
            margin: 16px auto;
        }
        &.phone:before {
            content: "\f10b";
        }
        &.address:before {
            content: "\f041";
        }
        &.e-mail:before {
            content: "\f003";
        }
    }
}
