@import "../../settings";
@import "foundation/components/block-grid";
@import "foundation/components/forms";
@import "foundation/components/reveal";
@import "foundation/components/tables";

body > .splash {
    display: none;
}
@media #{$medium-up} {
    body > .splash {
        background-color: $splash-background-color;
        display: block;
        height: $splash-height;
        font-size: 10em;
        width: 100%;
        position: fixed;
        z-index: 1;
        @media #{$large-up} {
            font-size: 12em;
        }
        .logo {
            color: white;
            font-size: inherit;
            font-family: 'Georgia', serif;
            font-weight: bold;
            letter-spacing: -8px;
            text-shadow: 1px 0px 6px white;
            text-align: center;
            margin-top: 96px;
            .italic {
                font-style: italic;
                font-weight: normal;
                letter-spacing: -26px;
            }
            & > span {
                font-size: inherit;
                font-family: inherit;
            }
        }
        & + section {
            margin-top: $splash-height;
        }
    }
}
#achievements {
    li {
        figure {
            display: none;
            border: 4px solid white;
            margin: 0;
            padding: 0;
            position: relative;
            overflow: hidden;
            img {
                position: absolute;
                max-width: none;
                max-height: none;
            }
        }
    }
}
table.schedule {
    background-color: inherit;
    border-collapse: collapse;
    border: none;
    color: inherit;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
    tr {
        margin: 0;
        td {
            border: none;
            font-size: 1em;
            &.center {
                & > hr {
                    border: none;
                    border-bottom: 2px dotted #999;
                    height: 1ex;
                    margin: 0;
                    margin-bottom: 1ex;
                }
                width: 100%;
            }
            &.day {
                text-align: right;
            }
            &.hour {
                text-align: left;
            }
            vertical-align: bottom;
            white-space: nowrap;
        }
    }
}
.contact {
    text-align: center;
    .contact-icon {
        background-color: #aaa;
        border-radius: 90px;
        color: $light-gray;
        font-family: FontAwesome;
        font-size: 2em;
        line-height: 64px;
        height: 64px;
        width: 64px;
        margin: 8px auto;
        text-align: center;
        @media #{$medium-up} {
            font-size: 3em;
            line-height: 96px;
            height: 96px;
            width: 96px;
            margin: 16px auto;
        }
        &.phone:before {
            content: "\f10b";
        }
        &.address:before {
            content: "\f041";
        }
        &.e-mail:before {
            content: "\f003";
        }
    }
}
